<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Registration form </title>


</head>

<body>
  <div class="contaier">
    <form id="console" [formGroup]="resetpass" (ngSubmit)="change()">
      <h2>Reset your Password</h2>

      <div>
        <label>Enter New Password:</label>
        <input type="password" name="password" placeholder="Enter New Password" required class="login"
          formControlName="password">
        <div style="color: red;" *ngIf="password && password.invalid && password.touched">

          <div *ngIf="password.errors?.['required']">
            password is required.
          </div>
          <div *ngIf="password.errors?.['pattern']">
            enter valid password
          </div>
        </div>
      </div><br>

      
   

      <div>
        <label>otp </label>
        <input type="text" placeholder="enter otp" name="otp" required id="em" formControlName="otp">
        <div style="color: red;" *ngIf="otp && otp.invalid && otp.touched ">
          <div *ngIf="otp.errors?.['required']">
            otp is required
          </div>
        </div>
      </div>

      


      <button type="submit" id="button" >change</button>

      <p>
        Already a member ?
        <a routerLink="/login"> Go Back </a>
      </p>

    </form>

  </div>





</body>

</html>