<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Registration form </title>
  

</head>

<body>
  <div class="contaier" >
    <form id="console" [formGroup]="resetpass" (ngSubmit)="change()">
      <h2>Reset your Password</h2>

      <label>Password </label>
      <input type="password" id="pwd" placeholder="password" name="password" formControlName="password">     <br>
       <span style="color: red;" *ngIf="password && password.invalid && password.touched">Enter valid password</span><br>

       <label>Confirm Password </label>
      <input type="password" id="pwd" placeholder="confirm password" name="confirm_password" formControlName="confirm_password">     <br>
       <span style="color: red;" *ngIf="confirm_password && confirm_password.invalid && confirm_password.touched">Enter valid password</span><br>
      

      <button type="submit"  id="button" [disabled]="resetpass.invalid" >Register</button>  

      <p>
        Already a member ?
        <a routerLink="/forget"> Go Back </a>
</p>

    </form>

  </div>





</body>

</html>