<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Registration form </title>


</head>

<body>
  <div class="contaier">
    <form id="console" [formGroup]="registrationForm" (ngSubmit)="submit()">
      <h2>Registration Form</h2>

        
      <label>UserName </label>
      <input type="text"  placeholder="Ankit...." id="fn"  required minlength="4"  maxlength="50" name="username" 
        formControlName="username" > 
      <div style="color: red;" *ngIf="username && isValidFormSubmitted != null && !isValidFormSubmitted ">
        <div *ngIf="username.errors?.['required']">
          username is required
        </div>
        <div *ngIf="username.errors?.['minlength']">
          minimum LENGTH 4
        </div>
        <div *ngIf="username.errors?.['maxlength']">
          maxlength LENGTH 50
        </div>
        <div *ngIf="username.errors?.['pattern']">
        enter valid username
        </div>
        <div *ngIf="username.errors?.['noWhiteSpace']">
          Username cannot contain space          </div>
     

      </div>
      
   
     <div>
      <label>Email </label>
      <input type="email" placeholder="Abc@gmail.com" style="text-transform:lowercase" pattern="^([\w\.]+)@([\w\-]+)((\.(\w){2,3})+)$" name="email"  required id="em"   formControlName="email"  >
      <div style="color: red;" *ngIf="email && isValidFormSubmitted != null && !isValidFormSubmitted ">
        <div *ngIf="email.errors?.['required']">
          email is required
        </div>
        <div *ngIf="email.errors?.['pattern']">
          enter valid email
        </div>
      </div>
    </div>
     
    <div>
      <label>Mobile No :</label>
      <input type="number" placeholder="eg. phone number" required id="mn" name="mobile" formControlName="mobile">
      <br>
      <div style="color: red;" *ngIf="mobile && isValidFormSubmitted != null && !isValidFormSubmitted ">
        <div *ngIf="mobile.errors?.['required']">
          mobile is required
        </div>
        <div *ngIf="mobile.errors?.['pattern']">
          enter valid indian phone number
        </div>
      </div>
    </div>


      <div>
      <label>Password:</label>
      <input type="password" name="password"  placeholder="Enter Password" required  class="login"
        formControlName="password">
      <div style="color: red;" *ngIf="password && isValidFormSubmitted != null && !isValidFormSubmitted ">
       
        <div *ngIf="password.errors?.['required']">
          password is required.
        </div>
       
        <div *ngIf="password.errors?.['pattern']">
          one uppercase one lowercase one numeric one special character length(6-16)
        </div>
      </div>
      </div><br>


      <button type="submit"  id="button">Register</button>

      <p>
        Already a member ?
        <a routerLink="/login"> Go and login </a>
      </p>

    </form>

  </div>





</body>

</html>