<html>

<head>
    <title>LOGIN PAGE</title>
</head>


<body>
    <div class="container" id="console">
        <form id="form" [formGroup]="forgetpage" (ngSubmit)="Submit()">

            <h2>Set your Email</h2>

            <div>
                <label>Email </label>
                <input type="text" placeholder="Abc@gmail.com" pattern="^([\w\.]+)@([\w\-]+)((\.(\w){2,3})+)$" name="email"  required id="em"   formControlName="email"  >
                <div style="color: red;" *ngIf="email && isValidforgetpage != null && !isValidforgetpage ">
                  <div *ngIf="email.errors?.['required']">
                    email is required
                  </div>
                  <div *ngIf="email.errors?.['pattern']">
                    enter valid email
                  </div>
                </div>
              </div>

            <button id="btn" value="Submit">Send Otp</button>

            <p>
                Not a member ?
                <a routerLink="/registration"> Go to register page </a><br>
                <a routerLink="/login">Go to Login page</a>
            </p>

        </form>
    </div>


</body>

</html>